In [1]:
import pandas as pd

# concat() â€” stack DataFrames row-wise or column-wise
    - concat() stacks DataFrames along an axis.
    - Use axis=0 to append rows, axis=1 to join columns side-by-side.
    - It preserves indexes by default; use ignore_index=True to reset.ta
    - syntax : pd.concat([df1, df2, ...], axis=0 or 1, ignore_index=True or False)
    - how to use :
        (1) Row-wise concatenation (axis=0):
            - Stacks DataFrames vertically, adding rows.
            - Useful for combining datasets with the same columns.
        (2) Column-wise concatenation (axis=1):
            - Joins DataFrames side-by-side, adding columns.
            - Useful for merging datasets with the same index.
        (3) Ignore  index:
            - Use ignore_index=True to reset the index in the result.
            - This is helpful when the original indexes are not meaningful.

In [2]:
jan = pd.DataFrame({
    'OrderID': [101, 102],
    'CustomerID': [1, 2],
    'Product': ['Laptop', 'Phone'],
    'Total': [1200, 800]
})

feb = pd.DataFrame({
    'OrderID': [103, 104],
    'CustomerID': [2, 3],
    'Product': ['Tablet', 'Mouse'],
    'Total': [450, 50]
})

In [3]:
# Row-wise append (axis=0)
pd.concat([jan, feb])

   OrderID  CustomerID Product  Total
0      101           1  Laptop   1200
1      102           2   Phone    800
0      103           2  Tablet    450
1      104           3   Mouse     50

In [4]:
# Often you want a clean index:
pd.concat([jan, feb], ignore_index=True)

   OrderID  CustomerID Product  Total
0      101           1  Laptop   1200
1      102           2   Phone    800
2      103           2  Tablet    450
3      104           3   Mouse     50

In [5]:
# Column-wise combine (axis=1)
# Create two frames with same index (say customer info and metrics):

info = pd.DataFrame({
    'CustomerID': [1,2,3],
    'Name': ['Alice','Bob','Charlie']
}).set_index('CustomerID')

metrics = pd.DataFrame({
    'CustomerID': [1,2,4],
    'TotalSpent': [1200, 750, 300]
}).set_index('CustomerID')

pd.concat([info, metrics], axis=1)
# Explanation: pandas aligns on the index. Missing values appear where no match exists.

               Name  TotalSpent
CustomerID
1             Alice      1200.0
2               Bob       750.0
3           Charlie         NaN
4               NaN       300.0