In [3]:
import pandas as pd

In [4]:
df = pd.read_json("C:/Users/ansh/PycharmProjects/python_learning/day_17/Sample_Data/Sample_Data.json")

## Selecting data
       - df['column_name']
       - df[['col1','col2']]

       - df.iloc[row_index, col_index]
            - iloc → index based (rows & columns by numbers).
            - iloc[start:end] → end exclusive (normal Python slicing).
       - df.loc[row_label, col_label]
            - loc → label based (rows & columns by names).
            - loc[start:end] → end inclusive.

       - df[condition]
            - condition example:
            (1) for single condition
                    df[df['column_name'] > value]
            (2) for multiple conditions (and ( & ), or ( |))
                    df[(df['col1'] > value1) & (df['col2'] < value2)]

In [5]:

print(df.columns)

print(df['name'].head(3)) # selecting single column

print(df['price'].head(3), df['category'].head(3)) # selecting multiple columns
#
print(df[df['price'] > 590]) # single condition
print(df[(df['price'] > 590) & (df['category']=="Electronics")]) # multiple conditions (and)
print(df[(df['price'] > 590) | (df['category']=="Electronics")]) # multiple conditions (or)

Index(['id', 'name', 'description', 'price', 'category', 'image'], dtype='object')
0       Apple iPhone 12
1    Samsung Galaxy S21
2    Sony PlayStation 5
Name: name, dtype: object
0    999.00
1    799.00
2    499.99
Name: price, dtype: float64 0    Electronics
1    Electronics
2    Electronics
Name: category, dtype: object
    id                                       name  \
0    1                            Apple iPhone 12
1    2                         Samsung Galaxy S21
3    4          LG OLED55CXPUA 55-inch 4K OLED TV
7    8         Dyson V11 Absolute Cordless Vacuum
9   10            Canon EOS Rebel T8i DSLR Camera
15  16  Breville Barista Express Espresso Machine
17  18             iRobot Roomba i7+ Robot Vacuum

                                          description    price  \
0   The Apple iPhone 12 features a 6.1-inch Super ...   999.00
1   The Samsung Galaxy S21 features a 6.2-inch Dyn...   799.00
3   The LG OLED55CXPUA 55-inch 4K OLED TV features...  1599.99
7   The Dyson V11 Absolute Cordless Vacuum feature...   699.99
9   The Canon EOS Rebel T8i DSLR Camera features a...   899.00
15  The Breville Barista Express Espresso Machine ...   699.95
17  The iRobot Roomba i7+ Robot Vacuum features au...   799.99

           category                                              image
0       Electronics  https://www.apple.com/newsroom/images/product/...
1       Electronics  https://images.samsung.com/is/image/samsung/p6...
3       Electronics  https://www.lg.com/us/images/tvs/md07501804/ga...
7   Home Appliances  https://www.dysoncanada.ca/dam/dyson/images/pr...
9       Electronics  https://www.canon.com.au/-/media/images/produc...
15   Home & Kitchen  https://www.breville.com/content/dam/breville/...
17   Home & Kitchen  https://store.irobot.com/default/i7-vacuuming-...
   id                               name  \
0   1                    Apple iPhone 12
1   2                 Samsung Galaxy S21
3   4  LG OLED55CXPUA 55-inch 4K OLED TV
9  10    Canon EOS Rebel T8i DSLR Camera

                                         description    price     category  \
0  The Apple iPhone 12 features a 6.1-inch Super ...   999.00  Electronics
1  The Samsung Galaxy S21 features a 6.2-inch Dyn...   799.00  Electronics
3  The LG OLED55CXPUA 55-inch 4K OLED TV features...  1599.99  Electronics
9  The Canon EOS Rebel T8i DSLR Camera features a...   899.00  Electronics

                                               image
0  https://www.apple.com/newsroom/images/product/...
1  https://images.samsung.com/is/image/samsung/p6...
3  https://www.lg.com/us/images/tvs/md07501804/ga...
9  https://www.canon.com.au/-/media/images/produc...
    id                                               name  \
0    1                                    Apple iPhone 12
1    2                                 Samsung Galaxy S21
2    3                                 Sony PlayStation 5
3    4                  LG OLED55CXPUA 55-inch 4K OLED TV
4    5        Bose QuietComfort 35 II Wireless Headphones
5    6                          Fitbit Versa 3 Smartwatch
7    8                 Dyson V11 Absolute Cordless Vacuum
9   10                    Canon EOS Rebel T8i DSLR Camera
10  11                                  Apple AirPods Pro
11  12        Bose QuietComfort 35 II Wireless Headphones
12  13                    Fitbit Charge 4 Fitness Tracker
13  14                              Samsung Galaxy Watch3
14  15  Sony WH-1000XM4 Wireless Noise-Cancelling Head...
15  16          Breville Barista Express Espresso Machine
17  18                     iRobot Roomba i7+ Robot Vacuum

                                          description    price  \
0   The Apple iPhone 12 features a 6.1-inch Super ...   999.00
1   The Samsung Galaxy S21 features a 6.2-inch Dyn...   799.00
2   The Sony PlayStation 5 features an AMD Zen 2-b...   499.99
3   The LG OLED55CXPUA 55-inch 4K OLED TV features...  1599.99
4   The Bose QuietComfort 35 II Wireless Headphone...   299.00
5   The Fitbit Versa 3 Smartwatch features a built...   229.95
7   The Dyson V11 Absolute Cordless Vacuum feature...   699.99
9   The Canon EOS Rebel T8i DSLR Camera features a...   899.00
10  The Apple AirPods Pro feature active noise can...   249.00
11  The Bose QuietComfort 35 II Wireless Headphone...   299.00
12  The Fitbit Charge 4 Fitness Tracker features G...   129.95
13  The Samsung Galaxy Watch3 features a rotating ...   399.99
14  The Sony WH-1000XM4 Wireless Noise-Cancelling ...   349.99
15  The Breville Barista Express Espresso Machine ...   699.95
17  The iRobot Roomba i7+ Robot Vacuum features au...   799.99

           category                                              image
0       Electronics  https://www.apple.com/newsroom/images/product/...
1       Electronics  https://images.samsung.com/is/image/samsung/p6...
2       Electronics  https://www.sony.com/image/44baa604124b770c824...
3       Electronics  https://www.lg.com/us/images/tvs/md07501804/ga...
4       Electronics  https://assets.bose.com/content/dam/Bose_DAM/W...
5       Electronics  https://www.fitbit.com/global/content/dam/fitb...
7   Home Appliances  https://www.dysoncanada.ca/dam/dyson/images/pr...
9       Electronics  https://www.canon.com.au/-/media/images/produc...
10      Electronics  https://www.apple.com/v/airpods-pro/b/images/m...
11      Electronics  https://assets.bose.com/content/dam/Bose_DAM/W...
12      Electronics  https://www.fitbit.com/global/content/dam/fitb...
13      Electronics  https://images.samsung.com/is/image/samsung/as...
14      Electronics  https://www.sony.com/image/1cdd6354c4cd21cc4f7...
15   Home & Kitchen  https://www.breville.com/content/dam/breville/...
17   Home & Kitchen  https://store.irobot.com/default/i7-vacuuming-...

In [6]:
# Part 1: Select a single row by its label (returns a Series)
print(df.loc[11])

# Part 2: Slice rows by labels 1 through 10 (end is inclusive), all columns (returns a DataFrame)
print(df.loc[1:10])

# Part 3: Select multiple non‑contiguous row labels, all columns (returns a DataFrame)
print(df.loc[[1,4,8]])

# Part 4: Select a single scalar value at row label 2 and column "name" (returns a scalar)
print(df.loc[2,'name'])

# Part 5: Slice rows by labels 2 through 10 and select only "name" and "price" columns (returns a DataFrame)
print(df.loc[2:10,['name','price']])

# Part 6: Boolean row filter on "price" and select only the "name" column (returns a Series)
print(df.loc[df['price'] > 590, 'name'])

id                                                            12
name                 Bose QuietComfort 35 II Wireless Headphones
description    The Bose QuietComfort 35 II Wireless Headphone...
price                                                      299.0
category                                             Electronics
image          https://assets.bose.com/content/dam/Bose_DAM/W...
Name: 11, dtype: object
    id                                         name  \
1    2                           Samsung Galaxy S21
2    3                           Sony PlayStation 5
3    4            LG OLED55CXPUA 55-inch 4K OLED TV
4    5  Bose QuietComfort 35 II Wireless Headphones
5    6                    Fitbit Versa 3 Smartwatch
6    7                       KitchenAid Stand Mixer
7    8           Dyson V11 Absolute Cordless Vacuum
8    9                   Ninja Foodi Smart XL Grill
9   10              Canon EOS Rebel T8i DSLR Camera
10  11                            Apple AirPods Pro

                                          description    price  \
1   The Samsung Galaxy S21 features a 6.2-inch Dyn...   799.00
2   The Sony PlayStation 5 features an AMD Zen 2-b...   499.99
3   The LG OLED55CXPUA 55-inch 4K OLED TV features...  1599.99
4   The Bose QuietComfort 35 II Wireless Headphone...   299.00
5   The Fitbit Versa 3 Smartwatch features a built...   229.95
6   The KitchenAid Stand Mixer features a 5-quart ...   399.99
7   The Dyson V11 Absolute Cordless Vacuum feature...   699.99
8   The Ninja Foodi Smart XL Grill features 6-in-1...   279.99
9   The Canon EOS Rebel T8i DSLR Camera features a...   899.00
10  The Apple AirPods Pro feature active noise can...   249.00

           category                                              image
1       Electronics  https://images.samsung.com/is/image/samsung/p6...
2       Electronics  https://www.sony.com/image/44baa604124b770c824...
3       Electronics  https://www.lg.com/us/images/tvs/md07501804/ga...
4       Electronics  https://assets.bose.com/content/dam/Bose_DAM/W...
5       Electronics  https://www.fitbit.com/global/content/dam/fitb...
6    Home & Kitchen  https://www.kitchenaid.com/content/dam/global/...
7   Home Appliances  https://www.dysoncanada.ca/dam/dyson/images/pr...
8    Home & Kitchen  https://www.ninjakitchen.com/medias/Ninja-OP50...
9       Electronics  https://www.canon.com.au/-/media/images/produc...
10      Electronics  https://www.apple.com/v/airpods-pro/b/images/m...
   id                                         name  \
1   2                           Samsung Galaxy S21
4   5  Bose QuietComfort 35 II Wireless Headphones
8   9                   Ninja Foodi Smart XL Grill

                                         description   price        category  \
1  The Samsung Galaxy S21 features a 6.2-inch Dyn...  799.00     Electronics
4  The Bose QuietComfort 35 II Wireless Headphone...  299.00     Electronics
8  The Ninja Foodi Smart XL Grill features 6-in-1...  279.99  Home & Kitchen

                                               image
1  https://images.samsung.com/is/image/samsung/p6...
4  https://assets.bose.com/content/dam/Bose_DAM/W...
8  https://www.ninjakitchen.com/medias/Ninja-OP50...
Sony PlayStation 5
                                           name    price
2                            Sony PlayStation 5   499.99
3             LG OLED55CXPUA 55-inch 4K OLED TV  1599.99
4   Bose QuietComfort 35 II Wireless Headphones   299.00
5                     Fitbit Versa 3 Smartwatch   229.95
6                        KitchenAid Stand Mixer   399.99
7            Dyson V11 Absolute Cordless Vacuum   699.99
8                    Ninja Foodi Smart XL Grill   279.99
9               Canon EOS Rebel T8i DSLR Camera   899.00
10                            Apple AirPods Pro   249.00
0                               Apple iPhone 12
1                            Samsung Galaxy S21
3             LG OLED55CXPUA 55-inch 4K OLED TV
7            Dyson V11 Absolute Cordless Vacuum
9               Canon EOS Rebel T8i DSLR Camera
15    Breville Barista Express Espresso Machine
17               iRobot Roomba i7+ Robot Vacuum
Name: name, dtype: object

    Show name and price of all products where category = "Electronics"

In [7]:
df.loc[df['category']=='Electronics',['name','price']]

                                                 name    price
0                                     Apple iPhone 12   999.00
1                                  Samsung Galaxy S21   799.00
2                                  Sony PlayStation 5   499.99
3                   LG OLED55CXPUA 55-inch 4K OLED TV  1599.99
4         Bose QuietComfort 35 II Wireless Headphones   299.00
5                           Fitbit Versa 3 Smartwatch   229.95
9                     Canon EOS Rebel T8i DSLR Camera   899.00
10                                  Apple AirPods Pro   249.00
11        Bose QuietComfort 35 II Wireless Headphones   299.00
12                    Fitbit Charge 4 Fitness Tracker   129.95
13                              Samsung Galaxy Watch3   399.99
14  Sony WH-1000XM4 Wireless Noise-Cancelling Head...   349.99

    From products with price < 300, show only id, name, and price.

In [8]:
df.loc[df['price']<300,['id','name','price']]

    id                                         name   price
4    5  Bose QuietComfort 35 II Wireless Headphones  299.00
5    6                    Fitbit Versa 3 Smartwatch  229.95
8    9                   Ninja Foodi Smart XL Grill  279.99
10  11                            Apple AirPods Pro  249.00
11  12  Bose QuietComfort 35 II Wireless Headphones  299.00
12  13              Fitbit Charge 4 Fitness Tracker  129.95
16  17                  Keurig K-Elite Coffee Maker  169.99
18  19             Ninja Foodi Digital Air Fry Oven  209.99
19  20             Cuisinart ICE-70 Ice Cream Maker  139.99

    Select rows from index 2 to 8 (assume custom index labels) and only show columns name and
    price.

In [9]:
df.loc[2:8,['name','price']]

                                          name    price
2                           Sony PlayStation 5   499.99
3            LG OLED55CXPUA 55-inch 4K OLED TV  1599.99
4  Bose QuietComfort 35 II Wireless Headphones   299.00
5                    Fitbit Versa 3 Smartwatch   229.95
6                       KitchenAid Stand Mixer   399.99
7           Dyson V11 Absolute Cordless Vacuum   699.99
8                   Ninja Foodi Smart XL Grill   279.99