In [2]:
from itertools import groupby

import pandas as pd

In [8]:
df=pd.read_csv("/day_22/sample_sales_data.csv", encoding="latin1")

In [ ]:
"""
GroupBy :
    - GroupBy is used to group data based on one or more columns.
    - It is often used in conjunction with aggregation functions like sum(), mean(), count(), max(), min(), etc.
    - The result of a GroupBy operation is a DataFrameGroupBy object, which can be further processed to obtain the desired results.
    - syntax (without agg):
        df.groupby('column_name')['other_column'].function()
    - syntax (with agg):
        df.groupby('column_name').agg({'other_column': 'function'})
"""

## Practice question
    - Find total sales per Category.
    - Find average Price per Region.
    - Find total Quantity sold per Salesperson.
    - Count how many orders were placed in each Region.
    - Find maximum Total sale per Category.
    - Find minimum Quantity per Salesperson.
    - Find average Quantity sold per Product.
    - Find total sales per Month.
    - Find the highest Price per Region.
    - Find how many orders each Category received.

In [30]:
# 1. Find total sales per Category.
df.groupby('Category')['Total'].sum()

Category
Accessories     81165
Electronics    172072
Office          24569
Name: Total, dtype: int64

In [28]:
# 2. Find average Price per Region.
df.groupby('Region')['Price'].mean()

Region
East     528.535714
North    557.653846
South    510.227273
West     521.250000
Name: Price, dtype: float64

In [29]:
# 3. Find total Quantity sold per Salesperson.
df.groupby('Salesperson')['Quantity'].sum()

Salesperson
Alice      78
Bob        91
Charlie    59
David      51
Eva        44
Frank      93
Grace      63
Helen      75
Name: Quantity, dtype: int64

In [26]:
# 4. Count how many orders were placed in each Region.
df.groupby('Region')['OrderID'].count()

Region
East     28
North    26
South    22
West     24
Name: OrderID, dtype: int64

In [25]:
# 5. Find maximum Total sale per Category.
df.groupby('Category')['Total'].max()

Category
Accessories    6770
Electronics    8604
Office         7380
Name: Total, dtype: int64

In [24]:
# 6. Find minimum Quantity per Salesperson.
df.groupby('Salesperson')['Quantity'].min()

Salesperson
Alice      1
Bob        1
Charlie    1
David      1
Eva        2
Frank      2
Grace      1
Helen      1
Name: Quantity, dtype: int64

In [23]:
# 7. Find average Quantity sold per Product.
df.groupby('Product')['Quantity'].mean()

Product
Camera        6.181818
Headphones    4.538462
Keyboard      4.800000
Laptop        5.400000
Monitor       6.333333
Mouse         5.000000
Phone         5.307692
Printer       6.500000
Smartwatch    5.833333
Tablet        5.666667
Name: Quantity, dtype: float64

In [21]:
# 8. Find total sales per Month.
df.groupby('Month')['Total'].sum()

Month
Apr    32851
Aug    25516
Dec     5294
Feb    10271
Jan    32397
Jul    29136
Jun     8444
Mar    32328
May    33579
Nov    32044
Oct    17958
Sep    17988
Name: Total, dtype: int64

In [13]:
# 9. Find the highest Price per Region.
df.groupby('Region')['Price'].max()

Region
East     904
North    956
South    975
West     936
Name: Price, dtype: int64

In [12]:
# 10. Find how many orders each Category received.
df.groupby('Category')['OrderID'].count()

Category
Accessories    29
Electronics    65
Office          6
Name: OrderID, dtype: int64