In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from certifi import where

In [2]:
df=pd.read_csv("netflix_titles.csv",encoding='latin1')

## Step 1: Understand the Data (Exploration)
    (1) How many total rows and columns are in the dataset?
    (2) What is the data type of each column (e.g., number, text, date)?
    (3) Are there any missing values in any column? If yes, which column has the most missing values?
    (4) Is there more content categorized as "Movie" or "TV Show" on Netflix? Show the count for each.
    (5) Initial Preview: Display the first 10 and last 10 rows of the dataset to see how the data is recorded.
    (6) Unique Values: How many unique categories are there in columns like type, rating, and country?
    (7) Value Counts: What are the counts of each category within the type column (i.e., how many Movies vs. TV
     Shows)? What are the top 10 most frequent values in country, director, and listed_in (genre)?
    (8) Numerical Summary: What are the basic descriptive statistics (mean, median, standard deviation, min, max) for numerical columns like release_year?
    (9) Timespan of Data: What is the earliest and latest release_year in the dataset? What about the date_added?

In [3]:
# 1. How many total rows and columns are in the dataset?
print(f"Total rows = {df.shape[0]} , column = {df.shape[1]}")

Total rows = 8807 , column = 12

In [4]:
# 2. What is the data type of each column (e.g., number, text, date)?
print(df.dtypes)

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [5]:
# 3. Are there any missing values in any column? If yes, which column has the most missing values?

# print(f"Most missing values column = {df.isnull().sum().index[np.argmax(df.isnull().sum().values)]}")

# best way
print(f"Most missing values column = {df.isnull().sum().idxmax()}")

Most missing values column = director

In [6]:
# 4. Is there more content categorized as "Movie" or "TV Show" on Netflix? Show the count for each.
print(f"there more content categorized as = {df.groupby('type')['show_id'].count().idxmax()}")
print(f"count for each = {df.groupby('type')['show_id'].count()}")

there more content categorized as = Movie
count for each = type
Movie      6131
TV Show    2676
Name: show_id, dtype: int64

In [7]:
# 5. Initial Preview: Display the first 10 and last 10 rows of the dataset to see how the data is recorded.
print(f"first 10 = \n {df.head(10)}")
print(f"lst 10 = \n {df.tail(10)}")

first 10 =
   show_id     type                             title  \
0      s1    Movie              Dick Johnson Is Dead
1      s2  TV Show                     Blood & Water
2      s3  TV Show                         Ganglands
3      s4  TV Show             Jailbirds New Orleans
4      s5  TV Show                      Kota Factory
5      s6  TV Show                     Midnight Mass
6      s7    Movie  My Little Pony: A New Generation
7      s8    Movie                           Sankofa
8      s9  TV Show     The Great British Baking Show
9     s10    Movie                      The Starling

                         director  \
0                 Kirsten Johnson
1                             NaN
2                 Julien Leclercq
3                             NaN
4                             NaN
5                   Mike Flanagan
6  Robert Cullen, JosÃ© Luis Ucha
7                    Haile Gerima
8                 Andy Devonshire
9                  Theodore Melfi

                                                cast  \
0                                                NaN
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
3                                                NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
5  Kate Siegel, Zach Gilford, Hamish Linklater, H...
6  Vanessa Hudgens, Kimiko Glenn, James Marsden, ...
7  Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...
8  Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...
9  Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...

                                             country          date_added  \
0                                      United States  September 25, 2021
1                                       South Africa  September 24, 2021
2                                                NaN  September 24, 2021
3                                                NaN  September 24, 2021
4                                              India  September 24, 2021
5                                                NaN  September 24, 2021
6                                                NaN  September 24, 2021
7  United States, Ghana, Burkina Faso, United Kin...  September 24, 2021
8                                     United Kingdom  September 24, 2021
9                                      United States  September 24, 2021

   release_year rating   duration  \
0          2020  PG-13     90 min
1          2021  TV-MA  2 Seasons
2          2021  TV-MA   1 Season
3          2021  TV-MA   1 Season
4          2021  TV-MA  2 Seasons
5          2021  TV-MA   1 Season
6          2021     PG     91 min
7          1993  TV-MA    125 min
8          2021  TV-14  9 Seasons
9          2021  PG-13    104 min

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...
5                 TV Dramas, TV Horror, TV Mysteries
6                           Children & Family Movies
7   Dramas, Independent Movies, International Movies
8                       British TV Shows, Reality TV
9                                   Comedies, Dramas

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...
5  The arrival of a charismatic young priest brin...
6  Equestria's divided. But a bright-eyed hero be...
7  On a photo shoot in Ghana, an American model s...
8  A talented batch of amateur bakers face off in...
9  A woman adjusting to life after a loss contend...
lst 10 =
      show_id     type               title                 director  \
8797   s8798  TV Show           Zak Storm                      NaN
8798   s8799    Movie            Zed Plus  Chandra Prakash Dwivedi
8799   s8800    Movie               Zenda           Avadhoot Gupte
8800   s8801  TV Show  Zindagi Gulzar Hai                      NaN
8801   s8802    Movie             Zinzana          Majid Al Ansari
8802   s8803    Movie              Zodiac            David Fincher
8803   s8804  TV Show         Zombie Dumb                      NaN
8804   s8805    Movie          Zombieland          Ruben Fleischer
8805   s8806    Movie                Zoom             Peter Hewitt
8806   s8807    Movie              Zubaan              Mozez Singh

                                                   cast  \
8797  Michael Johnston, Jessica Gee-George, Christin...
8798  Adil Hussain, Mona Singh, K.K. Raina, Sanjay M...
8799  Santosh Juvekar, Siddharth Chandekar, Sachit P...
8800  Sanam Saeed, Fawad Khan, Ayesha Omer, Mehreen ...
8801  Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...
8803                                                NaN
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...

                                            country          date_added  \
8797  United States, France, South Korea, Indonesia  September 13, 2018
8798                                          India   December 31, 2019
8799                                          India   February 15, 2018
8800                                       Pakistan   December 15, 2016
8801                   United Arab Emirates, Jordan       March 9, 2016
8802                                  United States   November 20, 2019
8803                                            NaN        July 1, 2019
8804                                  United States    November 1, 2019
8805                                  United States    January 11, 2020
8806                                          India       March 2, 2019

      release_year rating   duration  \
8797          2016  TV-Y7  3 Seasons
8798          2014  TV-MA    131 min
8799          2009  TV-14    120 min
8800          2012  TV-PG   1 Season
8801          2015  TV-MA     96 min
8802          2007      R    158 min
8803          2018  TV-Y7  2 Seasons
8804          2009      R     88 min
8805          2006     PG     88 min
8806          2015  TV-14    111 min

                                              listed_in  \
8797                                           Kids' TV
8798             Comedies, Dramas, International Movies
8799                       Dramas, International Movies
8800  International TV Shows, Romantic TV Shows, TV ...
8801            Dramas, International Movies, Thrillers
8802                     Cult Movies, Dramas, Thrillers
8803             Kids' TV, Korean TV Shows, TV Comedies
8804                            Comedies, Horror Movies
8805                 Children & Family Movies, Comedies
8806     Dramas, International Movies, Music & Musicals

                                            description
8797  Teen surfer Zak Storm is mysteriously transpor...
8798  A philandering small-town mechanic's political...
8799  A change in the leadership of a political part...
8800  Strong-willed, middle-class Kashaf and carefre...
8801  Recovering alcoholic Talal wakes up inside a s...
8802  A political cartoonist, a crime reporter and a...
8803  While living alone in a spooky town, a young g...
8804  Looking to survive in a world taken over by zo...
8805  Dragged from civilian life, a former superhero...
8806  A scrappy but poor boy worms his way into a ty...

In [8]:
# 6. Unique Values: How many unique categories are there in columns like type, rating, and country?

# print(f"type = {df['type'].unique().size}")
# print(f"rating = {df['rating'].unique().size}")
# print(f"country = {df['country'].unique().size}")

# Best Way
print(df[['type','rating','country']].nunique())

type         2
rating      17
country    748
dtype: int64

In [9]:
# 7. Value Counts: What are the counts of each category within the type column (i.e., how many Movies vs. TV Shows)? What are the top 10 most frequent values in country, director, and listed_in (genre)?

# print(f"count for each = {df.groupby('type')['show_id'].count()}")
# print(f"country = {df.groupby('country')['show_id'].count().sort_values(ascending=False).head(10)}")
# print(f"director = {df.groupby('director')['show_id'].count().sort_values(ascending=False).head(10)}")
# print(f'listed in = {df.groupby('listed_in')['show_id'].count().sort_values(ascending=False).head(10)}')

# best way
print("--- Type Counts ---")
print(df['type'].value_counts())
print("\n" + "="*30 + "\n") # For clean separation

print("--- Top 10 Countries ---")
print(df['country'].value_counts().head(10))
print("\n" + "="*30 + "\n")

print("--- Top 10 Directors ---")
print(df['director'].value_counts().head(10))
print("\n" + "="*30 + "\n")

print("--- Top 10 Genres (listed_in) ---")
print(df['listed_in'].value_counts().head(10))

--- Type Counts ---
type
Movie      6131
TV Show    2676
Name: count, dtype: int64

==============================

--- Top 10 Countries ---
country
United States     2818
India              972
United Kingdom     419
Japan              245
South Korea        199
Canada             181
Spain              145
France             124
Mexico             110
Egypt              106
Name: count, dtype: int64

==============================

--- Top 10 Directors ---
director
Rajiv Chilaka              19
RaÃºl Campos, Jan Suter    18
Suhas Kadav                16
Marcus Raboy               16
Jay Karas                  14
Cathy Garcia-Molina        13
Martin Scorsese            12
Youssef Chahine            12
Jay Chapman                12
Steven Spielberg           11
Name: count, dtype: int64

==============================

--- Top 10 Genres (listed_in) ---
listed_in
Dramas, International Movies                        362
Documentaries                                       359
Stand-Up Comedy                                     334
Comedies, Dramas, International Movies              274
Dramas, Independent Movies, International Movies    252
Kids' TV                                            220
Children & Family Movies                            215
Children & Family Movies, Comedies                  201
Documentaries, International Movies                 186
Dramas, International Movies, Romantic Movies       180
Name: count, dtype: int64

In [10]:
# 8. Numerical Summary: What are the basic descriptive statistics (mean, median, standard deviation, min, max) for numerical columns like release_year?
print(df.describe())

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [11]:
# 9. Timespan of Data: What is the earliest and latest release_year in the dataset? What about the date_added?
# print(df['release_year'].max())
# print(df['release_year'].min())
df['date_added']=pd.to_datetime(df['date_added'].str.strip())
print(df['date_added'].max())
print(df['date_added'].min())

2021-09-25 00:00:00
2008-01-01 00:00:00


## Step 2: Clean the Data (Cleaning & Preprocessing)
    (1) How would you handle the missing values in the date_added column? Would you remove them or fill them with a
     default value?
    (2) The rating column also has missing values. Fill them with the most frequently occurring rating (the mode).
    (3)The cast and director columns also have null values. For now, you can leave them, but think about how you might
     handle them.
    (4) Handling Missing Directors/Cast/Country: Decide on a strategy for the missing values in director, cast, and country. Should you fill them
     with a placeholder like "Unknown" or drop the rows? Justify your choice.
    (5) Fixing Missing Ratings: The rating column has missing values. How would you fill them? A good approach is to use the mode (the most
     frequently occurring rating).
    (6) Managing Missing Dates: Address the missing values in date_added. Is it better to drop these few rows or fill them with the release_year?
    (7) Data Type Conversion: The date_added column is currently a string (object). Convert it to a proper datetime format so you can perform
    time-based analysis.
    (8) Cleaning the Duration Column: The duration column contains mixed data (e.g., "100 min" for movies, "2 Seasons" for TV shows). Separate the
     dataset into two: one for Movies and one for TV Shows. For the Movie dataset, convert the duration column to a numerical type (integer) by
      removing "min". Do the same for the TV Show dataset, converting seasons to an integer.
    (9) Handling Duplicates: Check if there are any duplicate rows in the dataset and remove them if they exist.
    (10) Standardizing Genres: The listed_in column often contains multiple genres in one string (e.g., "Dramas, International Movies"). Should you
     split these into a list or just use the primary genre for analysis?

In [12]:
# 1. How would you handle the missing values in the date_added column? Would you remove them or fill them with a default value?
df.dropna(subset=['date_added'],inplace=True)

In [13]:
# 2. The rating column also has missing values. Fill them with the most frequently occurring rating (the mode).
df['rating'].fillna(df['rating'].mode()[0],inplace=True)

C:\Users\ansh\AppData\Local\Temp\ipykernel_21464\3430456595.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['rating'].fillna(df['rating'].mode()[0],inplace=True)

In [14]:
# 3. The cast and director columns also have null values. For now, you can leave them, but think about how you might handle them.
df.info()
'''
Strategy 1: Fill with a Placeholder (Jagya Purvi)
    - This is the most common and safest approach for text columns like cast and director.
    - What to do: Instead of leaving the cells blank, we can fill them with a placeholder word like "Unknown", "Not Available", or "No Director".
    - Why it's a good idea:
        - No Data Loss: We don't have to delete the entire row. We can still use the information from other columns like release_year, country, and rating for our analysis.
        - Clarity: It clearly tells us that the information was missing, not that the movie had no director or cast.
        - Easy Analysis: We can later easily count how many movies have an "Unknown" director or filter them out if needed.

Strategy 2: Do Nothing (Kaai Na Karvu)
    - Sometimes, the best action is no action.
    - What to do: Leave the missing values as they are (NaN).
    - Why it might work:
        - Specific Analysis: If you are only analyzing trends by country or release year, the director and cast columns don't matter. Pandas is smart enough to ignore missing values during many calculations (like counting).
        - Honesty: It keeps the data in its original, raw state.
    - The downside: This can cause errors or unexpected results in certain analyses, especially if you try to search for a specific director's name.

Strategy 3: Deleting Rows (Rows Kadhi Nakhvi)
    - This is a more aggressive approach and generally not recommended for these columns.
    - What to do: Delete any row where the director or cast information is missing.
    - Why it's risky:
        - Major Data Loss: The director column has thousands of missing values. Deleting all those rows would mean throwing away a large portion of our dataset (almost 30%). This would make our overall analysis much less reliable.
'''

<class 'pandas.core.frame.DataFrame'>
Index: 8797 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8797 non-null   object
 1   type          8797 non-null   object
 2   title         8797 non-null   object
 3   director      6173 non-null   object
 4   cast          7972 non-null   object
 5   country       7967 non-null   object
 6   date_added    8797 non-null   datetime64[ns]
 7   release_year  8797 non-null   int64
 8   rating        8797 non-null   object
 9   duration      8794 non-null   object
 10  listed_in     8797 non-null   object
 11  description   8797 non-null   object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 893.4+ KB

'\nStrategy 1: Fill with a Placeholder (Jagya Purvi)\n    - This is the most common and safest approach for text columns like cast and director.\n    - What to do: Instead of leaving the cells blank, we can fill them with a placeholder word like "Unknown", "Not Available", or "No Director".\n    - Why it\'s a good idea:\n        - No Data Loss: We don\'t have to delete the entire row. We can still use the information from other columns like release_year, country, and rating for our analysis.\n        - Clarity: It clearly tells us that the information was missing, not that the movie had no director or cast.\n        - Easy Analysis: We can later easily count how many movies have an "Unknown" director or filter them out if needed.\n\nStrategy 2: Do Nothing (Kaai Na Karvu)\n    - Sometimes, the best action is no action.\n    - What to do: Leave the missing values as they are (NaN).\n    - Why it might work:\n        - Specific Analysis: If you are only analyzing trends by country or release year, the director and cast columns don\'t matter. Pandas is smart enough to ignore missing values during many calculations (like counting).\n        - Honesty: It keeps the data in its original, raw state.\n    - The downside: This can cause errors or unexpected results in certain analyses, especially if you try to search for a specific director\'s name.\n\nStrategy 3: Deleting Rows (Rows Kadhi Nakhvi)\n    - This is a more aggressive approach and generally not recommended for these columns.\n    - What to do: Delete any row where the director or cast information is missing.\n    - Why it\'s risky:\n        - Major Data Loss: The director column has thousands of missing values. Deleting all those rows would mean throwing away a large portion of our dataset (almost 30%). This would make our overall analysis much less reliable.\n'

In [15]:
# 4. Handling Missing Directors/Cast/Country: Decide on a strategy for the missing values in director, cast, and country. Should you fill them with a placeholder like "Unknown" or drop the rows? Justify your choice.
df['director'].fillna('Unknown', inplace=True)
df['cast'].fillna('Unknown', inplace=True)

C:\Users\ansh\AppData\Local\Temp\ipykernel_21464\1844306670.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['director'].fillna('Unknown', inplace=True)
C:\Users\ansh\AppData\Local\Temp\ipykernel_21464\1844306670.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['cast'].fillna('Unknown', inplace=True)

In [16]:
# 5. Fixing Missing Ratings: The rating column has missing values. How would you fill them? A good approach is to use the mode (the most frequently occurring rating).
# Already done in step 2

In [17]:
# 6. Managing Missing Dates: Address the missing values in date_added. Is it better to drop these few rows or fill them with the release_year?
# Already done in step 1

In [18]:
# 7. Data Type Conversion: The date_added column is currently a string (object). Convert it to a proper datetime format so you can perform time-based analysis.
# Already done in exploration step 9

In [58]:
# 8. Cleaning the Duration Column: The duration column contains mixed data (e.g., "100 min" for movies, "2 Seasons" for TV shows). Separate the dataset into two: one for Movies and one for TV Shows. For the Movie dataset, convert the duration column to a numerical type (integer) by removing "min". Do the same for the TV Show dataset, converting seasons to an integer.
# df['duration']=df['duration'].str.replace('min','',regex=False)
# mask=df['type']=='Movie'
# df['movie_duration']=pd.to_numeric(df.loc[mask,'duration'])
#
# df['duration']=df['duration'].str.replace('s','',regex=False)
# df['duration']=df['duration'].str.replace('Seaon','',regex=False)
# mask1=df['type']=='TV Show'
# df['tv_show_duration']=pd.to_numeric(df.loc[mask1,'duration'])

In [20]:
# 9. Handling Duplicates: Check if there are any duplicate rows in the dataset and remove them if they exist.
df[df.duplicated()] # not available

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

In [21]:
# 10. Standardizing Genres: The listed_in column often contains multiple genres in one string (e.g., "Dramas, International Movies"). Should you split these into a list or just use the primary genre for analysis?
df['listed_in']=df['listed_in'].str.split(',')

## Step 3: Gain Insights from Data (Analysis & Transformation)
    (1) In which year was the most content released? Find the top 5 years using the release_year column.
    (2) In which month was the most content added? (Use the date_added column).
    (3) Who are the top 5 directors with the most movies?
    (4) Who are the top 10 actors who have appeared in the most movies/shows?
    (5) Create a list of all Movies that were produced in India (country = 'India').
    (6) Feature Engineering (Time): From the date_added (datetime) column, create new columns for added_year, added_month,
     and added_day_of_week.
    (7) Old vs. New Content: What is the average time lag between the release_year and the date_added? This tells you how
     old content generally is when it arrives on Netflix.
    (8) Content by Decade: Create a new column called release_decade (e.g., 1990s, 2000s, 2010s). Which decade has produced
     the most content?
    (9) Longest Movies: After cleaning the duration column, find the top 10 longest movies on Netflix.
    (10) Most Seasons in TV Shows: Find the top 10 TV shows with the most seasons.
    (11) Director-Genre Specialization: Find the top director for the "Dramas" genre. Who is the top director for "Comedies"?
    (12) Actor-Director Collaboration: Which actor and director pair has collaborated the most?
    (13) Country-Specific Analysis: What is the most common genre for content produced in 'India'? What about in the 'United
     States'?
    (14) Content Targeting: Which rating is most common for Movies? Is it different for TV Shows?
    (15) Text Analysis: Analyze the description column. What are the most common words found in the descriptions of 'Horror'
     Movies'?

In [75]:
# 1. In which year was the most content released? Find the top 5 years using the release_year column.
print(f'{df['release_year'].value_counts().idxmax()} year was the most content released')
print(f'top 5 years = \n{df['release_year'].value_counts().head(5)}')

2018 year was the most content released
top 5 years =
release_year
2018    1146
2017    1032
2019    1030
2020     953
2016     901
Name: count, dtype: int64

In [82]:
# 2. In which month was the most content added? (Use the date_added column).
print(f'{df['date_added'].dt.month_name().value_counts().idxmax()} month was the most content added')

July month was the most content added

In [95]:
# 3. Who are the top 5 directors with the most movies?
masked=(df['type']=='Movie') & (df['director']!='Unknown')
print(f'top 5 directors with the most movies = \n{df[masked]['director'].value_counts().head()}')

# another way
# print(f'top 5 directors with the most movies = \n{df[df['type']=='Movie']['director'].value_counts().drop('Unknown').head()}')

director
Rajiv Chilaka              19
RaÃºl Campos, Jan Suter    18
Suhas Kadav                16
Marcus Raboy               15
Jay Karas                  14
Name: count, dtype: int64

In [107]:
# 4. Who are the top 10 actors who have appeared in the most movies/shows?
# df['cast']=df['cast'].str.split(',')
# df['cast'] = df['cast'].apply(lambda cast_list: [actor.strip() for actor in cast_list])
print(f'the top 10 actors who have appeared in the most movies/shows = \n{df.explode('cast')['cast'].value_counts().drop('Unknown').head(10)}')
'''
.explode() Method Shu Chhe?
.explode() method e darek list na andar na badha j items ne alag-alag row ma gotthvi de chhe. E list ne 'fodi' ne tena darek tukda ne ek navi, alag line aapi de chhe.

Example
Mani lo ke tamaro data aavo chhe (explode karya pehla):

  show_id                             listed_in
0      s1             ['Dramas', 'International']
1      s2                        ['Comedies']
2      s3  ['Action & Adventure', 'Comedies']
Have, jyare aapde .explode('listed_in') vaprisu, to data aavo thai jashe (explode karya pachhi):

  show_id             listed_in
0      s1                Dramas
0      s1         International
1      s2              Comedies
2      s3  Action & Adventure
2      s3              Comedies
'''

the top 10 actors who have appeared in the most movies/shows =
cast
Anupam Kher         43
Shah Rukh Khan      35
Julie Tejwani       33
Naseeruddin Shah    32
Takahiro Sakurai    32
Rupa Bhimani        31
Akshay Kumar        30
Om Puri             30
Yuki Kaji           29
Paresh Rawal        28
Name: count, dtype: int64

"\n.explode() Method Shu Chhe?\n.explode() method e darek list na andar na badha j items ne alag-alag row ma gotthvi de chhe. E list ne 'fodi' ne tena darek tukda ne ek navi, alag line aapi de chhe.\n\nExample\nMani lo ke tamaro data aavo chhe (explode karya pehla):\n\n  show_id                             listed_in\n0      s1             ['Dramas', 'International']\n1      s2                        ['Comedies']\n2      s3  ['Action & Adventure', 'Comedies']\nHave, jyare aapde .explode('listed_in') vaprisu, to data aavo thai jashe (explode karya pachhi):\n\n  show_id             listed_in\n0      s1                Dramas\n0      s1         International\n1      s2              Comedies\n2      s3  Action & Adventure\n2      s3              Comedies\n"

In [111]:
# 5. Create a list of all Movies that were produced in India (country = 'India').
mask=(df['country']=='India')&(df['type']=='Movie')
print(df[mask])

24                      Jeans
105          Angamaly Diaries
114                    Anjaam
116                    Dhanak
118                   Gurgaon
                ...
8772    Yamla Pagla Deewana 2
8773      Yanda Kartavya Aahe
8798                 Zed Plus
8799                    Zenda
8806                   Zubaan
Name: title, Length: 893, dtype: object

In [113]:
# 6. Feature Engineering (Time): From the date_added (datetime) column, create new columns for added_year, added_month, and added_day_of_week.
df['added_day_of_week']=df['date_added'].dt.day_of_week
df['added_month']=df['date_added'].dt.month
df['added_year']=df['date_added'].dt.year

In [28]:
# 7. Old vs. New Content: What is the average time lag between the release_year and the date_added? This tells you how old content generally is when it arrives on Netflix.

In [29]:
# 8. Content by Decade: Create a new column called release_decade (e.g., 1990s, 2000s, 2010s). Which decade has produced the most content?

In [142]:
# 9. Longest Movies: After cleaning the duration column, find the top 10 longest movies on Netflix.

# print(f'the top 10 longest movies on Netflix = \n{df.loc[df['movie_duration'].sort_values(ascending=False).index]['title'].head(10)}')

# best way
print(f'the top 10 longest movies on Netflix = \n{df.sort_values(by='movie_duration', ascending=False)['title'].head(10)}')

the top 10 longest movies on Netflix =
4253     Black Mirror: Bandersnatch
717     Headspace: Unwind Your Mind
2491         The School of Mischief
2487                 No Longer kids
2484             Lock Your Girls In
2488                Raya and Sakina
166     Once Upon a Time in America
7932                         Sangam
1019                         Lagaan
4573                   Jodhaa Akbar
Name: title, dtype: object

In [145]:
# 10. Most Seasons in TV Shows: Find the top 10 TV shows with the most seasons.
df.sort_values(by='tv_show_duration',ascending=False)[['title','tv_show_duration']].head(10)

                       title  tv_show_duration
548           Grey's Anatomy              17.0
2423            Supernatural              15.0
4798                    NCIS              15.0
4220  COMEDIANS of the world              13.0
1354               Heartland              13.0
4964       Trailer Park Boys              12.0
5412          Criminal Minds              12.0
6456                  Cheers              11.0
1622           Stargate SG-1              10.0
2203        Shameless (U.S.)              10.0

In [182]:
# 11. Director-Genre Specialization: Find the top director for the "Dramas" genre. Who is the top director for "Comedies"?
# df['listed_in'] = df['listed_in'].apply(lambda cast_list: [actor.strip() for actor in cast_list])

In [215]:
# 12. Actor-Director Collaboration: Which actor and director pair has collaborated the most?
clean_df = df[(df['director'] != 'Unknown') & (df['cast'].apply(lambda x: x != ['Unknown']))]
clean_df.explode('cast').groupby(['cast','director'])['show_id'].count().sort_values(ascending=False).head(10)

cast                director
Julie Tejwani       Rajiv Chilaka        17
Rajesh Kava         Rajiv Chilaka        17
Jigna Bhardwaj      Rajiv Chilaka        17
Rupa Bhimani        Rajiv Chilaka        16
Vatsal Dubey        Rajiv Chilaka        15
Swapnil             Rajiv Chilaka        12
Mousam              Rajiv Chilaka        12
Saurav Chakraborty  Suhas Kadav           8
Koji Tsujitani      Toshiya Shinohara     7
Kappei Yamaguchi    Toshiya Shinohara     7
Name: show_id, dtype: int64

In [228]:
# 13. Country-Specific Analysis: What is the most common genre for content produced in 'India'? What about in the 'United States'?
explode_list=df.explode('listed_in')
print(f'india = {explode_list[explode_list['country'].str.contains('India', na=False)].groupby('listed_in')['show_id'].count().idxmax()}')
print(f'Usa = {explode_list[explode_list['country'].str.contains('United States', na=False)].groupby('listed_in')['show_id'].count().idxmax()}')

india = International Movies
Usa = Dramas

In [236]:
# 14. Content Targeting: Which rating is most common for Movies? Is it different for TV Shows?
print(f'common rating for movie = {df[df['type']=='Movie']['rating'].value_counts().idxmax()}')
print(f'common rating for Tv show = {df[df['type']=='TV Show']['rating'].value_counts().idxmax()}')

common rating for movie = TV-MA
common rating for Tv show = TV-MA

In [246]:
# 15. Text Analysis: Analyze the description column. What are the most common words found in the descriptions of 'Horror Movies'?

# Pehla, 'Horror Movies' na description alag karo
horror_desc = explode_list[explode_list['listed_in'] == 'Horror Movies']['description']

# Step 1: Text ne saaf karo (lowercase + punctuation kadho)
# [^\w\s] e badha j punctuation ne kadhi nakhshe
cleaned_desc = horror_desc.str.lower().str.replace('[^\w\s]', '', regex=True)

# Step 2: Shabdo ne alag kari ne explode karo
all_words = cleaned_desc.str.split(' ').explode()

# Step 3: Faltu shabdo (Stop Words) ni list banavo
stop_words = ['a', 'the', 'in', 'is', 'of', 'to', 'and', 'his', 'her', 'their', 'with', 'for', 'an', 'as', 'at', 'by', 'on']

# Step 4: Ganatri karo ANE stop words ne kadhi nakho
# .isin() method check karshe ke shabd stop_words ni list ma chhe ke nahi
word_counts = all_words.value_counts()
meaningful_words = word_counts[~word_counts.index.isin(stop_words)]


print("--- Top 10 Meaningful Words in Horror Movie Descriptions ---")
print(meaningful_words.head(10))

--- Top 10 Meaningful Words in Horror Movie Descriptions ---
description
when     98
that     67
after    58
from     48
into     47
young    45
but      43
home     39
they     36
new      35
Name: count, dtype: int64

<>:8: SyntaxWarning: invalid escape sequence '\w'
<>:8: SyntaxWarning: invalid escape sequence '\w'
C:\Users\ansh\AppData\Local\Temp\ipykernel_21464\1058794362.py:8: SyntaxWarning: invalid escape sequence '\w'
  cleaned_desc = horror_desc.str.lower().str.replace('[^\w\s]', '', regex=True)

## Step 4: Visualize the Data (Plotting) 📊
    (1) Create a bar chart to show the count of Movies vs. TV Shows available on Netflix.
    (2) Create a histogram to show the distribution of release_year. (e.g., how many titles were released in the
     1990s, 2000s, etc.).
    (3) Create a bar chart showing the top 10 countries that produce the most content.
    (4) What is the proportion of different ratings (e.g., TV-MA, TV-14, R)? You can create a pie chart for this.
    (5) Create a line chart that shows the number of titles added each year (release_year). This will give you a trend
     of content growth over time.

     Comparisons & Rankings (Bar Charts)
        (11) Content Type Distribution: Create a bar chart comparing the total number of Movies vs. TV Shows.
        (6) Top Content-Producing Countries: Visualize the top 10 countries with the most content using a horizontal bar
         chart.
        (7) Most Common Genres: Create a bar chart showing the top 15 most common genres.
        (8) Peak Addition Months: Create a bar chart showing the number of titles added per month. Which are the busiest
         months?
        (9) Audience Ratings Distribution: Use a bar chart to show the count of content across different ratings.
        (10) Movies vs. TV Shows by Country: Create a stacked bar chart for the top 10 countries, showing the proportion
         of Movies vs. TV Shows within each country.

    Trends Over Time (Line Charts)
        (12) Content Growth Over Years: Plot a line chart showing the number of titles added to Netflix each year.
        (13) Separate Growth Trends: On a single graph, plot two lines: one for the growth of Movies and one for TV Shows
         added over time.
        (14) Cumulative Content Growth: Create a line chart showing the cumulative sum of content added over the years.

    Distributions (Histograms & Box Plots)
        (15) Release Year Distribution: Create a histogram to understand the distribution of content based on
         release_year.
        (16) Movie Duration Analysis: Create a histogram to show the distribution of movie durations (in minutes).
        (17) TV Show Season Analysis: Create a histogram to see the distribution of the number of seasons for TV shows.
        (18) Duration Outliers: Use a box plot to visualize the spread of movie durations and identify outliers.
        (19) Duration by Rating: Create box plots to compare movie durations across different ratings (e.g., 'R',
         'PG-13').

    Proportions & Text (Pie Charts & Word Clouds)
        (20) Content Type Share: Create a pie chart to show the percentage share of Movies vs. TV Shows.
        (21) Common Genre Keywords: Create a word cloud from the listed_in column to visually represent the most frequent
         genre tags.

In [37]:
# 1. Create a bar chart to show the count of Movies vs. TV Shows available on Netflix.

In [38]:
# 2. Create a histogram to show the distribution of release_year. (e.g., how many titles were released in the 1990s, 2000s, etc.).

In [39]:
# 3. Create a bar chart showing the top 10 countries that produce the most content.

In [40]:
# 4. What is the proportion of different ratings (e.g., TV-MA, TV-14, R)? You can create a pie chart for this.

In [41]:
# 5. Create a line chart that shows the number of titles added each year (release_year). This will give you a trend of content growth over time.

In [42]:
# 6. Top Content-Producing Countries: Visualize the top 10 countries with the most content using a horizontal bar chart.

In [43]:
# 7. Most Common Genres: Create a bar chart showing the top 15 most common

In [44]:
# 8. Peak Addition Months: Create a bar chart showing the number of titles added per month. Which are the busiest months?

In [45]:
# 9. Audience Ratings Distribution: Use a bar chart to show the count of content across different ratings.

In [46]:
# 10. Movies vs. TV Shows by Country: Create a stacked bar chart for the top 10 countries, showing the proportion of Movies vs. TV Shows within each country.

In [47]:
# 11. Content Type Distribution: Create a bar chart comparing the total number of Movies vs. TV Shows.

In [48]:
# 12. Content Growth Over Years: Plot a line chart showing the number of titles added to Netflix each year.

In [49]:
# 13. Separate Growth Trends: On a single graph, plot two lines: one for the growth of Movies and one for TV Shows added over time.

In [50]:
# 14. Cumulative Content Growth: Create a line chart showing the cumulative sum of content added over the years.

In [51]:
# 15. Release Year Distribution: Create a histogram to understand the distribution of content based on release_year.

In [52]:
# 16. Movie Duration Analysis: Create a histogram to show the distribution of movie durations (in minutes).

In [53]:
# 17. TV Show Season Analysis: Create a histogram to see the distribution of the number of seasons for TV shows.

In [54]:
# 18. Duration Outliers: Use a box plot to visualize the spread of movie durations and identify outliers.

In [55]:
# 19. Duration by Rating: Create box plots to compare movie durations across different ratings (e.g., 'R', 'PG-13').

In [56]:
# 20. Content Type Share: Create a pie chart to show the percentage share of Movies vs. TV Shows.