In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("netflix_titles.csv",encoding='latin1')

## Step 1: Understand the Data (Exploration)
    (1) How many total rows and columns are in the dataset?
    (2) What is the data type of each column (e.g., number, text, date)?
    (3) Are there any missing values in any column? If yes, which column has the most missing values?
    (4) Is there more content categorized as "Movie" or "TV Show" on Netflix? Show the count for each.
    (5) Initial Preview: Display the first 10 and last 10 rows of the dataset to see how the data is recorded.
    (6) Unique Values: How many unique categories are there in columns like type, rating, and country?
    (7) Value Counts: What are the counts of each category within the type column (i.e., how many Movies vs. TV
     Shows)? What are the top 10 most frequent values in country, director, and listed_in (genre)?
    (8) Numerical Summary: What are the basic descriptive statistics (mean, median, standard deviation, min, max) for numerical columns like release_year?
    (9) Timespan of Data: What is the earliest and latest release_year in the dataset? What about the date_added?

In [4]:
# 1. How many total rows and columns are in the dataset?
print(f"Total rows = {df.shape[0]} , column = {df.shape[1]}")

Total rows = 8807 , column = 12

In [5]:
# 2. What is the data type of each column (e.g., number, text, date)?
print(df.dtypes)

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [6]:
# 3. Are there any missing values in any column? If yes, which column has the most missing values?

# print(f"Most missing values column = {df.isnull().sum().index[np.argmax(df.isnull().sum().values)]}")

# best way
print(f"Most missing values column = {df.isnull().sum().idxmax()}")

Most missing values column = director

In [7]:
# 4. Is there more content categorized as "Movie" or "TV Show" on Netflix? Show the count for each.
print(f"there more content categorized as = {df.groupby('type')['show_id'].count().idxmax()}")
print(f"count for each = {df.groupby('type')['show_id'].count()}")

there more content categorized as = Movie
count for each = type
Movie      6131
TV Show    2676
Name: show_id, dtype: int64

In [26]:
# 5. Initial Preview: Display the first 10 and last 10 rows of the dataset to see how the data is recorded.
print(f"first 10 = \n {df.head(10)}")
print(f"lst 10 = \n {df.tail(10)}")

first 10 =
   show_id     type                             title  \
0      s1    Movie              Dick Johnson Is Dead
1      s2  TV Show                     Blood & Water
2      s3  TV Show                         Ganglands
3      s4  TV Show             Jailbirds New Orleans
4      s5  TV Show                      Kota Factory
5      s6  TV Show                     Midnight Mass
6      s7    Movie  My Little Pony: A New Generation
7      s8    Movie                           Sankofa
8      s9  TV Show     The Great British Baking Show
9     s10    Movie                      The Starling

                         director  \
0                 Kirsten Johnson
1                             NaN
2                 Julien Leclercq
3                             NaN
4                             NaN
5                   Mike Flanagan
6  Robert Cullen, JosÃ© Luis Ucha
7                    Haile Gerima
8                 Andy Devonshire
9                  Theodore Melfi

                                                cast  \
0                                                NaN
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
3                                                NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
5  Kate Siegel, Zach Gilford, Hamish Linklater, H...
6  Vanessa Hudgens, Kimiko Glenn, James Marsden, ...
7  Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...
8  Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...
9  Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...

                                             country          date_added  \
0                                      United States  September 25, 2021
1                                       South Africa  September 24, 2021
2                                                NaN  September 24, 2021
3                                                NaN  September 24, 2021
4                                              India  September 24, 2021
5                                                NaN  September 24, 2021
6                                                NaN  September 24, 2021
7  United States, Ghana, Burkina Faso, United Kin...  September 24, 2021
8                                     United Kingdom  September 24, 2021
9                                      United States  September 24, 2021

   release_year rating   duration  \
0          2020  PG-13     90 min
1          2021  TV-MA  2 Seasons
2          2021  TV-MA   1 Season
3          2021  TV-MA   1 Season
4          2021  TV-MA  2 Seasons
5          2021  TV-MA   1 Season
6          2021     PG     91 min
7          1993  TV-MA    125 min
8          2021  TV-14  9 Seasons
9          2021  PG-13    104 min

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...
5                 TV Dramas, TV Horror, TV Mysteries
6                           Children & Family Movies
7   Dramas, Independent Movies, International Movies
8                       British TV Shows, Reality TV
9                                   Comedies, Dramas

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...
5  The arrival of a charismatic young priest brin...
6  Equestria's divided. But a bright-eyed hero be...
7  On a photo shoot in Ghana, an American model s...
8  A talented batch of amateur bakers face off in...
9  A woman adjusting to life after a loss contend...
lst 10 =
      show_id     type               title                 director  \
8797   s8798  TV Show           Zak Storm                      NaN
8798   s8799    Movie            Zed Plus  Chandra Prakash Dwivedi
8799   s8800    Movie               Zenda           Avadhoot Gupte
8800   s8801  TV Show  Zindagi Gulzar Hai                      NaN
8801   s8802    Movie             Zinzana          Majid Al Ansari
8802   s8803    Movie              Zodiac            David Fincher
8803   s8804  TV Show         Zombie Dumb                      NaN
8804   s8805    Movie          Zombieland          Ruben Fleischer
8805   s8806    Movie                Zoom             Peter Hewitt
8806   s8807    Movie              Zubaan              Mozez Singh

                                                   cast  \
8797  Michael Johnston, Jessica Gee-George, Christin...
8798  Adil Hussain, Mona Singh, K.K. Raina, Sanjay M...
8799  Santosh Juvekar, Siddharth Chandekar, Sachit P...
8800  Sanam Saeed, Fawad Khan, Ayesha Omer, Mehreen ...
8801  Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...
8803                                                NaN
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...

                                            country          date_added  \
8797  United States, France, South Korea, Indonesia  September 13, 2018
8798                                          India   December 31, 2019
8799                                          India   February 15, 2018
8800                                       Pakistan   December 15, 2016
8801                   United Arab Emirates, Jordan       March 9, 2016
8802                                  United States   November 20, 2019
8803                                            NaN        July 1, 2019
8804                                  United States    November 1, 2019
8805                                  United States    January 11, 2020
8806                                          India       March 2, 2019

      release_year rating   duration  \
8797          2016  TV-Y7  3 Seasons
8798          2014  TV-MA    131 min
8799          2009  TV-14    120 min
8800          2012  TV-PG   1 Season
8801          2015  TV-MA     96 min
8802          2007      R    158 min
8803          2018  TV-Y7  2 Seasons
8804          2009      R     88 min
8805          2006     PG     88 min
8806          2015  TV-14    111 min

                                              listed_in  \
8797                                           Kids' TV
8798             Comedies, Dramas, International Movies
8799                       Dramas, International Movies
8800  International TV Shows, Romantic TV Shows, TV ...
8801            Dramas, International Movies, Thrillers
8802                     Cult Movies, Dramas, Thrillers
8803             Kids' TV, Korean TV Shows, TV Comedies
8804                            Comedies, Horror Movies
8805                 Children & Family Movies, Comedies
8806     Dramas, International Movies, Music & Musicals

                                            description
8797  Teen surfer Zak Storm is mysteriously transpor...
8798  A philandering small-town mechanic's political...
8799  A change in the leadership of a political part...
8800  Strong-willed, middle-class Kashaf and carefre...
8801  Recovering alcoholic Talal wakes up inside a s...
8802  A political cartoonist, a crime reporter and a...
8803  While living alone in a spooky town, a young g...
8804  Looking to survive in a world taken over by zo...
8805  Dragged from civilian life, a former superhero...
8806  A scrappy but poor boy worms his way into a ty...

In [33]:
# 6. Unique Values: How many unique categories are there in columns like type, rating, and country?

# print(f"type = {df['type'].unique().size}")
# print(f"rating = {df['rating'].unique().size}")
# print(f"country = {df['country'].unique().size}")

# Best Way
print(df[['type','rating','country']].nunique())

type         2
rating      17
country    748
dtype: int64

In [46]:
# 7. Value Counts: What are the counts of each category within the type column (i.e., how many Movies vs. TV Shows)? What are the top 10 most frequent values in country, director, and listed_in (genre)?

# print(f"count for each = {df.groupby('type')['show_id'].count()}")
# print(f"country = {df.groupby('country')['show_id'].count().sort_values(ascending=False).head(10)}")
# print(f"director = {df.groupby('director')['show_id'].count().sort_values(ascending=False).head(10)}")
# print(f'listed in = {df.groupby('listed_in')['show_id'].count().sort_values(ascending=False).head(10)}')

# best way
print("--- Type Counts ---")
print(df['type'].value_counts())
print("\n" + "="*30 + "\n") # For clean separation

print("--- Top 10 Countries ---")
print(df['country'].value_counts().head(10))
print("\n" + "="*30 + "\n")

print("--- Top 10 Directors ---")
print(df['director'].value_counts().head(10))
print("\n" + "="*30 + "\n")

print("--- Top 10 Genres (listed_in) ---")
print(df['listed_in'].value_counts().head(10))

--- Type Counts ---
type
Movie      6131
TV Show    2676
Name: count, dtype: int64

==============================

--- Top 10 Countries ---
country
United States     2818
India              972
United Kingdom     419
Japan              245
South Korea        199
Canada             181
Spain              145
France             124
Mexico             110
Egypt              106
Name: count, dtype: int64

==============================

--- Top 10 Directors ---
director
Rajiv Chilaka              19
RaÃºl Campos, Jan Suter    18
Suhas Kadav                16
Marcus Raboy               16
Jay Karas                  14
Cathy Garcia-Molina        13
Martin Scorsese            12
Youssef Chahine            12
Jay Chapman                12
Steven Spielberg           11
Name: count, dtype: int64

==============================

--- Top 10 Genres (listed_in) ---
listed_in
Dramas, International Movies                        362
Documentaries                                       359
Stand-Up Comedy                                     334
Comedies, Dramas, International Movies              274
Dramas, Independent Movies, International Movies    252
Kids' TV                                            220
Children & Family Movies                            215
Children & Family Movies, Comedies                  201
Documentaries, International Movies                 186
Dramas, International Movies, Romantic Movies       180
Name: count, dtype: int64

In [48]:
# 8. Numerical Summary: What are the basic descriptive statistics (mean, median, standard deviation, min, max) for numerical columns like release_year?
print(df.describe())

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [58]:
# 9. Timespan of Data: What is the earliest and latest release_year in the dataset? What about the date_added?
# print(df['release_year'].max())
# print(df['release_year'].min())
# df['date_added']=pd.to_datetime(df['date_added'].str.strip())
print(df['date_added'].max())
print(df['date_added'].min())

2021-09-25 00:00:00
2008-01-01 00:00:00


## Step 2: Clean the Data (Cleaning & Preprocessing)
    (1) How would you handle the missing values in the date_added column? Would you remove them or fill them with a
     default value?
    (2) The rating column also has missing values. Fill them with the most frequently occurring rating (the mode).
    (3)The cast and director columns also have null values. For now, you can leave them, but think about how you might
     handle them.

In [13]:
# 1. How would you handle the missing values in the date_added column? Would you remove them or fill them with a default value?

In [14]:
# 2. The rating column also has missing values. Fill them with the most frequently occurring rating (the mode).

In [15]:
# 3. The cast and director columns also have null values. For now, you can leave them, but think about how you might handle them.

## Step 3: Gain Insights from Data (Analysis & Transformation)
    (1) In which year was the most content released? Find the top 5 years using the release_year column.
    (2) In which month was the most content added? (Use the date_added column).
    (3) Who are the top 5 directors with the most movies?
    (4) Who are the top 10 actors who have appeared in the most movies/shows?
    (5) Create a list of all Movies that were produced in India (country = 'India').

In [16]:
# 1. In which year was the most content released? Find the top 5 years using the release_year column.

In [17]:
# 2. In which month was the most content added? (Use the date_added column).

In [18]:
# 3. Who are the top 5 directors with the most movies?

In [19]:
# 4. Who are the top 10 actors who have appeared in the most movies/shows?

In [20]:
# 5. Create a list of all Movies that were produced in India (country = 'India').

## Step 4: Visualize the Data (Plotting) 📊
    (1) Create a bar chart to show the count of Movies vs. TV Shows available on Netflix.
    (2) Create a histogram to show the distribution of release_year. (e.g., how many titles were released in the
     1990s, 2000s, etc.).
    (3) Create a bar chart showing the top 10 countries that produce the most content.
    (4) What is the proportion of different ratings (e.g., TV-MA, TV-14, R)? You can create a pie chart for this.
    (5) Create a line chart that shows the number of titles added each year (release_year). This will give you a trend
     of content growth over time.

In [21]:
# 1. Create a bar chart to show the count of Movies vs. TV Shows available on Netflix.

In [22]:
# 2. Create a histogram to show the distribution of release_year. (e.g., how many titles were released in the 1990s, 2000s, etc.).

In [23]:
# 3. Create a bar chart showing the top 10 countries that produce the most content.

In [24]:
# 4. What is the proportion of different ratings (e.g., TV-MA, TV-14, R)? You can create a pie chart for this.

In [25]:
# 5. Create a line chart that shows the number of titles added each year (release_year). This will give you a trend of content growth over time.