In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("netflix_titles.csv",encoding='latin1')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

## Step 1: Understand the Data (Exploration)
    (1) How many total rows and columns are in the dataset?
    (2) What is the data type of each column (e.g., number, text, date)?
    (3) Are there any missing values in any column? If yes, which column has the most missing values?
    (4) Is there more content categorized as "Movie" or "TV Show" on Netflix? Show the count for each.
    (5) Initial Preview: Display the first 10 and last 10 rows of the dataset to see how the data is recorded.
    (6) Unique Values: How many unique categories are there in columns like type, rating, and country?
    (7) Value Counts: What are the counts of each category within the type column (i.e., how many Movies vs. TV
     Shows)? What are the top 10 most frequent values in country, director, and listed_in (genre)?
    (8) Numerical Summary: What are the basic descriptive statistics (mean, median, standard deviation, min, max) for numerical columns like release_year?
    (9) Timespan of Data: What is the earliest and latest release_year in the dataset? What about the date_added?

In [8]:
# 1. How many total rows and columns are in the dataset?
print(f"Total rows = {df.shape[0]} , column = {df.shape[1]}")

Total rows = 8807 , column = 12

In [14]:
# 2. What is the data type of each column (e.g., number, text, date)?
print(df.dtypes)

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [29]:
# 3. Are there any missing values in any column? If yes, which column has the most missing values?

# print(f"Most missing values column = {df.isnull().sum().index[np.argmax(df.isnull().sum().values)]}")

# best way
print(f"Most missing values column = {df.isnull().sum().idxmax()}")

Most missing values column = director

In [54]:
# 4. Is there more content categorized as "Movie" or "TV Show" on Netflix? Show the count for each.
print(f"there more content categorized as = {df.groupby('type')['show_id'].count().idxmax()}")
print(f"count for each = {df.groupby('type')['show_id'].count()}")

there more content categorized as = Movie
count for each = type
Movie      6131
TV Show    2676
Name: show_id, dtype: int64

In [ ]:
# 5. Initial Preview: Display the first 10 and last 10 rows of the dataset to see how the data is recorded.

In [ ]:
# 6. Unique Values: How many unique categories are there in columns like type, rating, and country?

In [ ]:
# 7. Value Counts: What are the counts of each category within the type column (i.e., how many Movies vs. TV Shows)? What are the top 10 most frequent values in country, director, and listed_in (genre)?

In [ ]:
# 8. Numerical Summary: What are the basic descriptive statistics (mean, median, standard deviation, min, max) for numerical columns like release_year?

In [ ]:
# 9. Timespan of Data: What is the earliest and latest release_year in the dataset? What about the date_added?

.## Step 2: Clean the Data (Cleaning & Preprocessing)
    (1) How would you handle the missing values in the date_added column? Would you remove them or fill them with a
     default value?
    (2) The rating column also has missing values. Fill them with the most frequently occurring rating (the mode).
    (3)The cast and director columns also have null values. For now, you can leave them, but think about how you might
     handle them.

In [ ]:
# 1. How would you handle the missing values in the date_added column? Would you remove them or fill them with a default value?

In [ ]:
# 2. The rating column also has missing values. Fill them with the most frequently occurring rating (the mode).

In [ ]:
# 3. The cast and director columns also have null values. For now, you can leave them, but think about how you might handle them.

## Step 3: Gain Insights from Data (Analysis & Transformation)
    (1) In which year was the most content released? Find the top 5 years using the release_year column.
    (2) In which month was the most content added? (Use the date_added column).
    (3) Who are the top 5 directors with the most movies?
    (4) Who are the top 10 actors who have appeared in the most movies/shows?
    (5) Create a list of all Movies that were produced in India (country = 'India').

In [ ]:
# 1. In which year was the most content released? Find the top 5 years using the release_year column.

In [ ]:
# 2. In which month was the most content added? (Use the date_added column).

In [ ]:
# 3. Who are the top 5 directors with the most movies?

In [ ]:
# 4. Who are the top 10 actors who have appeared in the most movies/shows?

In [ ]:
# 5. Create a list of all Movies that were produced in India (country = 'India').

## Step 4: Visualize the Data (Plotting) ðŸ“Š
    (1) Create a bar chart to show the count of Movies vs. TV Shows available on Netflix.
    (2) Create a histogram to show the distribution of release_year. (e.g., how many titles were released in the
     1990s, 2000s, etc.).
    (3) Create a bar chart showing the top 10 countries that produce the most content.
    (4) What is the proportion of different ratings (e.g., TV-MA, TV-14, R)? You can create a pie chart for this.
    (5) Create a line chart that shows the number of titles added each year (release_year). This will give you a trend
     of content growth over time.

In [ ]:
# 1. Create a bar chart to show the count of Movies vs. TV Shows available on Netflix.

In [ ]:
# 2. Create a histogram to show the distribution of release_year. (e.g., how many titles were released in the 1990s, 2000s, etc.).

In [ ]:
# 3. Create a bar chart showing the top 10 countries that produce the most content.

In [ ]:
# 4. What is the proportion of different ratings (e.g., TV-MA, TV-14, R)? You can create a pie chart for this.

In [ ]:
# 5. Create a line chart that shows the number of titles added each year (release_year). This will give you a trend of content growth over time.